/**
 * 000 - General
 * 001 - Start
 * 002 - About
 * 003 - Projects
 * 004 - Resume
 * 005 - Footer
**/

/* Color Palette - https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

/* 000 General */
:root {
  --space-cadet: #2b2d42;
  --manatee: #8d99ae;
  --cultured: #edf2f4;
  --imperial-red: #ef233c;
  --amaranth-red: #d90429;
}

html,
body {
  /* text-align: center; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Inter', sans-serif;
  background-color: var(--space-cadet);
  height: 100%;
  overflow-x: hidden;
}

.particles-container {
  position: relative;
  z-index: 9999;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--space-cadet);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bold {
  font-weight: bold;
}

.slate {
  color: #2b2d42;
}
.bluebell {
  color: #8d99ae;
}
.white {
  color: #edf2f4;
}
/* .red {
  color: #EDF2F4;
} */
.crimson {
  color: #d90429;
}
.java-color {
  color: #f29111;
}
.python-color {
  color: #ffcd3a;
}
.c-color {
  color: #659bd3;
}
.js-color {
  color: #f5de19;
}
.react-color {
  color: #61dbfb;
}
.html-color {
  color: #e54c21;
}
.css-color {
  color: #264de4;
}
.amazon-color {
  color: #ffad33;
}
.rutgers-color {
  color: #ff3366;
}
.vmc-color {
  color: #ffd100;
}

.gray-background {
  background-color: rgb(38, 50, 56, 0.5);
}

.transparent-background {
  background-color: rgb(0, 0, 0, 0);
  box-shadow: none;
}

.reveal {
  opacity: 0;
  visibility: hidden;
  transition: transform 0s;
}

.tile {
  padding: 20px;
}

.tag {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* 001 Start */
.hi {
  font-family: 'Inter', sans-serif;
  color: var(--imperial-red);
}
.name {
  font-family: 'Lato', sans-serif !important;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--cultured);
}
.avatar {
  width: 192px;
  height: 192px;
  margin: auto;
  padding: 20px;
}
.round {
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem #191d24);
}
.intro {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: var(--manatee);
}
.icon-margin {
  margin: 16px 12px 16px 12px;
}
.fa-linkedin {
  transition: all 0.5s;
}
.fa-linkedin:hover {
  color: var(--amaranth-red);
}
.fa-github {
  transition: all 0.5s;
}
.fa-github:hover {
  color: var(--amaranth-red);
}
.fa-hands-helping {
  transition: all 0.5s;
}
.fa-hands-helping:hover {
  color: var(--amaranth-red);
}
.fa-telegram-plane {
  transition: all 0.5s;
}
.fa-telegram-plane:hover {
  color: var(--amaranth-red);
}

/* 002 About */
.main-title {
  /* font-family: 'Lato', sans-serif; */
  /* font-size: 32px; */
  /* font-weight: bold; */
  /* padding: 10px; */
}

.main-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.main-body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.main-body-small {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.about-me-body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 10px;
}

.tag {
  font-family: 'Lato', sans-serif;
}
.skills-item {
  font-family: 'Lato', sans-serif;
  padding: 5px 5px;
}
.timeline-text-heading-left {
  font-family: 'Lato', sans-serif;
  color: #9e9e9e;
  text-align: left;
}
.timeline-text-heading-right {
  font-family: 'Lato', sans-serif;
  color: #9e9e9e;
  text-align: right;
}
.timeline-text-body-left {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #fafafa;
  text-align: left;
}
.timeline-text-body-right {
  font-family: 'Lato', sans-serif;
  color: #fafafa;
  text-align: right;
}
.timeline-tags-left {
  text-align: left;
}
.timeline-tags-right {
  text-align: right;
}
.fa-code {
  margin: 20px;
}
.fa-briefcase {
  margin: 20px;
}
.fa-project-diagram {
  margin: 20px;
}
.timeline-amazon-icon {
  float: left;
  margin-right: 8px;
  margin-top: 8px;
}
.timeline-amazon-text-container {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #fafafa;
  text-align: left;
}

/* 003 Projects */
.project-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #f50057;
  font-size: 32px;
  margin-bottom: 60px;
}
.project-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fafafa;
  font-size: 20px;
  text-align: left;
  margin-bottom: 8px;
}
.project-links {
  text-align: right;
}
.project-meta {
  margin-bottom: 8px;
}
.project-body {
  font-family: 'Lato', sans-serif;
  text-align: left;
  color: #fafafa;
  font-size: 16px;
}
.moon {
  filter: invert(68%) sepia(41%) saturate(345%) hue-rotate(218deg) brightness(92%) contrast(86%);
}
.fa-external-link-square-alt {
  color: #f50057;
  transition: all 0.5s;
}
.fa-external-link-square-alt:hover {
  color: #f8bbd0;
}
.fa-train {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-train:hover {
  color: #f8bbd0;
}
.fa-moon {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-moon:hover {
  color: #f8bbd0;
}
.fa-dollar-sign {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-dollar-sign:hover {
  color: #f8bbd0;
}
.fa-discord {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-discord:hover {
  color: #f8bbd0;
}
.fa-home {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-home:hover {
  color: #f8bbd0;
}
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

/* 004 Resume */
.resume-button {
  background-color: #f50057;
  color: #000000;
  border-color: #f50057;
  margin: 20px;
  transition: all 0.5s;
}
.resume-button:hover {
  background-color: #f8bbd0;
  color: #182030;
  border-color: #f8bbd0;
}
.li-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LI-profile-badge {
  text-align: left;
}

/* 005 Footer */
.footer-text {
  font-family: 'Lato', sans-serif;
  color: #fafafa;
  font-size: 14px;
}
.footer-name {
  font-family: 'Lato', sans-serif;
  color: #f50057;
  font-size: 14px;
  font-weight: bold;
}
