/**
 * 000 - General
 * 001 - Start
 * 002 - About
 * 003 - Projects
 * 004 - Resume
 * 005 - Footer
**/

/* Color Palette - https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

/* 000 General */
:root {
  --space-cadet: #2b2d42;
  --manatee: #8d99ae;
  --cultured: #edf2f4;
  --imperial-red: #ef233c;
  --amaranth-red: #d90429;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--space-cadet);
  /* height: 100%; */
  overflow-x: hidden;
}

.particles-container {
  position: relative;
  z-index: 9999;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--space-cadet);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bold {
  font-weight: bold;
}
.java-color {
  color: #f29111;
}
.python-color {
  color: #ffcd3a;
}
.c-color {
  color: #659bd3;
}
.js-color {
  color: #f5de19;
}
.react-color {
  color: #61dbfb;
}
.html-color {
  color: #e54c21;
}
.css-color {
  color: #264de4;
}
.salesforce-color {
  color: #009edb !important;
}
.amazon-color {
  color: #ff9900 !important;
}
.rutgers-color {
  color: #ff3366;
}
.vmc-color {
  color: #ffd100;
}
.git-color {
  color: #f1502f;
}
.node-color {
  color: #68a063;
}
.eclipse-color {
  color: #443583;
}
.intellij-color {
  color: #087cfa;
}
.pycharm-color {
  color: #3dea62;
}
.threejs-color {
  color: #ffffff;
}

.gray-background {
  background-color: rgb(38, 50, 56, 0.5);
}

.transparent-background {
  background-color: rgb(0, 0, 0, 0);
  box-shadow: none;
}

.reveal {
  opacity: 0;
  visibility: hidden;
  transition: transform 0s;
}

.tile {
  padding: 20px;
}

.tag {
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: 'Inter', sans-serif;
}

/* 001 Start */
.hi {
  font-family: 'Inter', sans-serif;
  color: var(--imperial-red);
}
.name {
  font-family: 'Lato', sans-serif !important;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--manatee);
  filter: brightness(1.5);
}
.avatar {
  width: 192px;
  height: 192px;
  margin: auto;
  padding: 20px;
}
.round {
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem #191d24);
}
.intro {
  font-size: 20px;
  color: var(--manatee);
  filter: brightness(1.5);
}
.intro-bold {
  font-size: 20px;
  color: var(--manatee);
  filter: brightness(1.05);
}
.icon-margin {
  margin: 16px 12px 16px 12px;
}
.fa-linkedin {
  color: var(--imperial-red);
  transition: all 0.5s;
}
.fa-linkedin:hover {
  color: var(--imperial-red);
  filter: brightness(5);
}
.fa-github {
  color: var(--imperial-red);
  transition: all 0.5s;
}
.fa-github:hover {
  color: var(--imperial-red);
  filter: brightness(5);
}
.fa-hands-helping {
  color: var(--imperial-red);
  transition: all 0.5s;
}
.fa-hands-helping:hover {
  color: var(--imperial-red);
  filter: brightness(5);
}

/* 002 About */
.main-title {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  color: var(--imperial-red);
}
.main-subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--manatee);
  filter: brightness(1.5);
}
.main-body {
  font-size: 18px;
  color: var(--manatee);
  filter: brightness(1.5);
}
.main-body-small {
  font-size: 14px;
}
.about-me-body {
  font-size: 18px;
  padding: 10px;
  color: var(--manatee);
  filter: brightness(1.5);
}

.skills-container {
  text-align: center;
}
.languages {
  display: inline-block;
  text-align: left;
}
.software {
  display: inline-block;
  text-align: right;
}

.skills-item {
  padding: 5px 5px;
}
.timeline-text-heading-container {
  display: inline-block;
}
.timeline-icon {
  vertical-align: middle;
}
.timeline-text-heading-left {
  color: #9e9e9e;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.timeline-text-heading-right {
  color: #9e9e9e;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.timeline-text-body-left {
  font-size: 16px;
  color: #fafafa;
  text-align: left;
}
.timeline-text-body-right {
  color: #fafafa;
  text-align: right;
}
.timeline-tags-left {
  text-align: left;
}
.timeline-tags-right {
  text-align: right;
}
.fa-code {
  margin: 20px;
  color: var(--imperial-red);
  transition: all 0.5s;
}
.fa-code:hover {
  color: var(--imperial-red);
  filter: brightness(5);
}

.fa-briefcase {
  margin: 20px;
  color: var(--imperial-red);
  transition: all 0.5s;
}
.fa-briefcase:hover {
  color: var(--imperial-red);
  filter: brightness(5);
}
.fa-project-diagram {
  margin: 20px;
  color: var(--imperial-red);
  transition: all 0.5s;
}
.fa-project-diagram:hover {
  color: var(--imperial-red);
  filter: brightness(5);
}

.timeline-amazon-icon {
  float: left;
  margin-right: 8px;
  margin-top: 8px;
}
.timeline-amazon-text-container {
  display: flex;
  font-size: 16px;
  color: #fafafa;
  text-align: left;
}

/* 003 Projects */
.project-title {
  font-weight: bold;
  color: #f50057;
  font-size: 32px;
  margin-bottom: 60px;
}
.project-subtitle {
  font-weight: bold;
  color: #fafafa;
  font-size: 20px;
  text-align: left;
  margin-bottom: 8px;
}
.project-links {
  text-align: right;
}
.project-meta {
  margin-bottom: 8px;
}
.project-body {
  text-align: left;
  color: #fafafa;
  font-size: 16px;
}
.moon {
  filter: invert(68%) sepia(41%) saturate(345%) hue-rotate(218deg)
    brightness(92%) contrast(86%);
}
.fa-external-link-square-alt {
  color: #f50057;
  transition: all 0.5s;
}
.fa-external-link-square-alt:hover {
  color: #f8bbd0;
}
.fa-train {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-train:hover {
  color: #f8bbd0;
}
.fa-moon {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-moon:hover {
  color: #f8bbd0;
}
.fa-dollar-sign {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-dollar-sign:hover {
  color: #f8bbd0;
}
.fa-discord {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-discord:hover {
  color: #f8bbd0;
}
.fa-home {
  color: #f50057;
  margin-top: 12px;
  transition: all 0.5s;
}
.fa-home:hover {
  color: #f8bbd0;
}
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

/* 004 Resume */
.resume-button {
  background-color: #f50057;
  color: #000000;
  border-color: #f50057;
  margin: 20px;
  transition: all 0.5s;
}
.resume-button:hover {
  background-color: #f8bbd0;
  color: #182030;
  border-color: #f8bbd0;
}
.li-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LI-profile-badge {
  text-align: left;
}

/* 005 Footer */
.footer-text {
  color: #fafafa;
  font-size: 14px;
}
.footer-name {
  color: #f50057;
  font-size: 14px;
  font-weight: bold;
}
